.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: var(--spacing-md) var(--spacing-base);
}

main.container,
.container.home-container {
  --spacing-y: var(--spacing-lg);
  padding-top: var(--spacing-y);
  padding-bottom: var(--spacing-y);
}

@media screen and (min-width: 768px) {
  main.container,
  .container.home-container {
    --spacing-y: var(--spacing-xxl);
  }
}
